/* CHARACTERS */
#player {
	width: 100px;
	height: 180px;
	position: absolute;
	z-index: 1;
	background: url(../img/characters/HeroAnim_2x.png);
	pointer-events: none;
	-o-transform-origin: bottom center;
	-webkit-transform-origin: bottom center;
	-ms-transform-origin: bottom center;
	transform-origin: bottom center;
}

#player.ss { background-position: 0 0; }
#player.nn { background-position: 0 -180px; }
#player.ee { background-position: 0 -360px; }
#player.ww { background-position: 0 -540px; }

#player.walking.ss { animation: walk-arg-ss 1s steps(8) infinite; }
#player.walking.nn { animation: walk-arg-nn 1s steps(8) infinite; }
#player.walking.ee { animation: walk-arg-ee 1s steps(8) infinite; }
#player.walking.ww { animation: walk-arg-ww 1s steps(8) infinite; }
#player.walking.fast { animation-duration: .5s}

@keyframes walk-arg-ww {
	from { background-position: -900px -540px; }
	to   { background-position: -100px -540px; }
}
@keyframes walk-arg-ee {
	from { background-position: -100px -360px; }
	to   { background-position: -900px -360px; }
}
@keyframes walk-arg-nn {
	from { background-position: -100px -180px; }
	to   { background-position: -900px -180px; }
}
@keyframes walk-arg-ss {
	from { background-position: -100px 0px; }
	to   { background-position: -900px 0px; }
}

/* This sprite scaling method won't be pixel-perfect */
.scale09 {
    -moz-transform: scale(.9,.9);
	-o-transform: scale(.9,.9);
	-webkit-transform: scale(.9,.9);
	transform: scale(.9,.9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9, M12=0, M21=0, M22=0.9, SizingMethod='auto expand')";
}
.scale08 {
    -moz-transform: scale(.8,.8);
	-o-transform: scale(.8,.8);
	-webkit-transform: scale(.8,.8);
	transform: scale(.8,.8);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.8, M12=0, M21=0, M22=0.8, SizingMethod='auto expand')";
}
.scale07 {
    -moz-transform: scale(.7,.7);
	-o-transform: scale(.7,.7);
	-webkit-transform: scale(.7,.7);
	transform: scale(.7,.7);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7, M12=0, M21=0, M22=0.7, SizingMethod='auto expand')";
}
.scale06 {
    -moz-transform: scale(.6,.6);
	-o-transform: scale(.6,.6);
	-webkit-transform: scale(.6,.6);
	transform: scale(.6,.6);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.6, M12=0, M21=0, M22=0.6, SizingMethod='auto expand')";
}
.scale05 {
    -moz-transform: scale(.5,.5);
	-o-transform: scale(.5,.5);
	-webkit-transform: scale(.5,.5);
	transform: scale(.5,.5);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.5, M12=0, M21=0, M22=0.5, SizingMethod='auto expand')";
}


/* SUB-SPRITES */
.mouth {
	width: 7px;
	height: 4px;
	position: absolute;
	top: 37px;
	left: 48px;
	background-image: url(../img/characters/FaceParts_2x.png);
	background-position: -24px 0px;
}
.talking > .mouth { animation: mouth-talk 0.7s steps(7, start) infinite alternate; }

@keyframes mouth-talk {
	from { background-position: -24px 0px; }
	to   { background-position: -24px -42px; }
}

.eyes {
	width: 18px;
	height: 6px;
	position: absolute;
	top: 18px;
	left: 42px;
	background-image: url(../img/characters/FaceParts_2x.png);
	background-position: 0px 0px;
}
.eyes.flickleft  { animation: eyes-flick-left 1s steps(1, start) 1; }
.eyes.flickright { animation: eyes-flick-right 1s steps(1, start) 1; }
.eyes.shifty { animation: eyes-shifty 2s steps(1, start) 1; }
.eyes.blink { animation: eyes-blink 0.5s steps(1, start) 1; }

@keyframes eyes-flick-left {
	0%,100% { background-position: 0px 0px; }
	50%  { background-position: 0px -10px; } /* left */
}
@keyframes eyes-flick-right {
	0%,100% { background-position: 0px 0px; }
	50%  { background-position: 0px -20px; } /* right */
}
@keyframes eyes-shifty {
	0%   { background-position: 0px 0px; } /* default */
	33%  { background-position: 0px -10px; } /* left */
	67%  { background-position: 0px -20px; } /* right */
	100% { background-position: 0px -80px; } /* blank space */
}
@keyframes eyes-blink {
	0%,100% { background-position: 0px 0px; } /* default */
	50%  { background-position: 0px -40px; } /* closed */
}
