/* SCENERY */
#background .hole {
	background: url(../img/terrain_2.png) -585px -69px;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 80px;
	left: 60px;
}
#background .wall {
	background: url(../img/dungeon.png) -69px -64px;
	width: 60px;
	height: 32px;
	position: absolute;
	top: 16px;
	left: 60px;
}
.exit {
	border: 1px solid blue;
	width: 24px;
	height: 32px;
	position: absolute;
}
#cat_clock_tail {
	width: 18px;
	height: 14px;
	background: url(../img/cat_clock_tail.gif);
	left: 305px;
	top: 80px;
}

#background {
	xperspective: 1px;
	xwidth: 100vw;
}

.parallax {
	position: absolute;
	width: 1280px;
	height: 344px;
	xtransform-style: preserve-3d;
	xbackground-position: 50% 50%;
	xbackground-repeat: no-repeat;
	xbackground-attachment: fixed;
	xbackground-size: cover;
}
.room4 .bg1 { background: url(../img/kscumm_bg1.png); z-index: 0;   xtransform: translateZ(0); }
.room4 .bg2 { background: url(../img/kscumm_bg2.png); z-index: -20; xtransform: translateZ(-10px) scale(11); }
.room4 .bg3 { background: url(../img/kscumm_bg3.png); z-index: -40; xtransform: translateZ(-20px) scale(21); }

/* Foreground: */
.scenery {
	position: absolute;
	z-index: 1;	
}
#bed {
	width: 262px;
	height: 86px;
	background: url(../img/zak_bed_fg_2x.png);
	bottom: 0;
	left: 0;
	z-index: 230;
}
.grass1 {
	width: 264px;
	height: 84px;
	background: url(../img/kscumm_grass1.png);
	bottom: 0;
	left: 0;
	z-index: 400;
}
.grass2 {
	width: 456px;
	height: 167px;
	background: url(../img/kscumm_grass2.png);
	bottom: 0;
	right: 0;
	z-index: 400;
}
.yellow {
	width: 400px;
	height: 400px;
	background: url(../img/yellow_light_test.png);
	bottom: 0;
	left: 0;
	z-index: 400;
}

.dead { pointer-events: none; }
.lake {
	width: 64px;
	height: 64px;
}
.door {
	height: 32px;
	width: 32px;
	top: -25px;
	left: 90px;	
}
.door.open {
	background: none;
}
.door.closed {
	background: url(../img/city_inside.png) -512px -65px;
}

/* ITEMS */
.item {
	width: 32px;
	height: 32px;
	position: absolute;
	z-index: 100;
}
#bread {
	background: url(../img/bread.png);
}
#slicedbread {
	background: url(../img/slicedbread.png);
}
#sandwich {
	background: url(../img/sandwich.png);
}
#cheese {
	background: url(../img/cheese.png);
}
#chest.closed {
	background: url(../img/chest.png);
}
#chest.open {
	background: url(../img/openchest.png);
}
#knife {
	background: url(../img/knife.png);
}
#key {
	background: url(../img/key.png);
}
#chicken {
	background: url(../img/chicken.png);
}

/* These hover states wil later be done with bg-position shift :*/
#inventory #bread:hover {
	background: url(../img/bread_outline.png);
}
#inventory #slicedbread:hover {
	background: url(../img/slicedbread_outline.png);
}
#inventory #cheese:hover {
	background: url(../img/cheese_outline.png);
}
#inventory #sandwich:hover {
	background: url(../img/sandwich_outline.png);
}
#inventory #knife:hover {
	background: url(../img/knife_outline.png);
}
#inventory #key:hover {
	background: url(../img/key_outline.png);
}
#inventory #chicken:hover {
	background: url(../img/chicken_outline.png);
}

/* CHARACTERS */

#argyle_guy {
	width: 80px;
	height: 176px;
	position: absolute;
	z-index: 1;
	background: url(../img/argyle_guy_walking_2x.png);
	-o-transform-origin: bottom center;
	-webkit-transform-origin: bottom center;
	-ms-transform-origin: bottom center;
	transform-origin: bottom center;
}
.scale09 {
    -moz-transform: scale(.9,.9);
	-o-transform: scale(.9,.9);
	-webkit-transform: scale(.9,.9);
	transform: scale(.9,.9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9, M12=0, M21=0, M22=0.9, SizingMethod='auto expand')";
}
.scale08 {
    -moz-transform: scale(.8,.8);
	-o-transform: scale(.8,.8);
	-webkit-transform: scale(.8,.8);
	transform: scale(.8,.8);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.8, M12=0, M21=0, M22=0.8, SizingMethod='auto expand')";
}
.scale07 {
    -moz-transform: scale(.7,.7);
	-o-transform: scale(.7,.7);
	-webkit-transform: scale(.7,.7);
	transform: scale(.7,.7);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7, M12=0, M21=0, M22=0.7, SizingMethod='auto expand')";
}
.scale06 {
    -moz-transform: scale(.6,.6);
	-o-transform: scale(.6,.6);
	-webkit-transform: scale(.6,.6);
	transform: scale(.6,.6);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.6, M12=0, M21=0, M22=0.6, SizingMethod='auto expand')";
}
.scale05 {
    -moz-transform: scale(.5,.5);
	-o-transform: scale(.5,.5);
	-webkit-transform: scale(.5,.5);
	transform: scale(.5,.5);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.5, M12=0, M21=0, M22=0.5, SizingMethod='auto expand')";
}

#argyle_guy.ss { background-position: 0 0; }
#argyle_guy.nn { background-position: 0 -176px; }
#argyle_guy.ee { background-position: 0 -352px; }
#argyle_guy.ww { background-position: 0 -528px; }
	/* Flip East to get West */
/*	background-position: 0 -352px;
    -moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}*/
#argyle_guy.walking.ss { animation: walk-arg-ss .9s 0s steps(6) infinite; }
#argyle_guy.walking.nn { animation: walk-arg-nn .9s 0s steps(6) infinite; }
#argyle_guy.walking.ee { animation: walk-arg-ee .9s 0s steps(8) infinite; }
#argyle_guy.walking.ww { animation: walk-arg-ww .9s 0s steps(8) infinite; }

@keyframes walk-arg-ww {
	from { background-position: -80px -528px; }
	to   { background-position: -720px -528px; }
}
@keyframes walk-arg-ee {
	from { background-position: -80px -352px; }
	to   { background-position: -720px -352px; }
}
@keyframes walk-arg-nn {
	from { background-position: -80px -176px; }
	to   { background-position: -560px -176px; }
}
@keyframes walk-arg-ss {
	from { background-position: -80px 0px; }
	to   { background-position: -560px 0px; }
}

#steve, #argyle_guy {pointer-events: none;}

.character {
	width: 32px;
	height: 48px;
	position: absolute;
	z-index: 1;
	x-webkit-clip-path: polygon(78% 16%, 77% 42%, 91% 63%, 77% 69%, 72% 96%, 30% 96%, 28% 70%, 10% 65%, 23% 42%, 22% 15%, 50% 0%);
	xclip-path: polygon(78% 16%, 77% 42%, 91% 63%, 77% 69%, 72% 96%, 30% 96%, 28% 70%, 10% 65%, 23% 42%, 22% 15%, 50% 0%);
}

/* Need graceful fallback for IE with its lack of clipping path support */
#malin {
	background: url(../img/malin.png);
	height: 176px;
	width: 54px;
}
#pepper { background: url(../img/pepperpotts.png); }
#pepper:hover { background: red url(../img/pepperpotts.png); }
#steve { background: url(../img/steverogers.png); }
#steve:hover { background: yellow url(../img/steverogers.png); }
#john { background: url(../img/john.png); }
#john:hover { background: lightblue url(../img/john.png); }

.ss, .ss:hover { background-position: 0 0 }
.ww, .ww:hover { background-position: 0 -48px }
.ee, .ee:hover { background-position: 0 -96px }
.nn, .nn:hover { background-position: 0 -144px }

.walking.ss { animation: walk-ss .5s 0s steps(4) infinite; }
.walking.ww { animation: walk-ww .5s 0s steps(4) infinite; }
.walking.ee { animation: walk-ee .5s 0s steps(4) infinite; }
.walking.nn { animation: walk-nn .5s 0s steps(4) infinite; }

@keyframes walk-ss {
	from { background-position: 0px 0px; }
	to   { background-position: -128px 0px; }
}
@keyframes walk-ww {
	from { background-position: 0px -48px; }
	to   { background-position: -128px -48px; }
}
@keyframes walk-ee {
	from { background-position: 0px -96px; }
	to   { background-position: -128px -96px; }
}
@keyframes walk-nn {
	from { background-position: 0px -144px; }
	to   { background-position: -128px -144px; }
}
