@font-face {
  font-family: 'DOS437';
  src: url('../fonts/Perfect-DOS-VGA-437.ttf') format('truetype');
}

body {
	margin: 0;
	padding: 0;
	z-index: 0;
}

#gamewrap {
	position: absolute;
	margin: 30px;
	border: 1px solid black;
	background: black;
	width: 640px;
	height: 450px;
	overflow: hidden;
	-webkit-perspective: 640px;
	perspective: 640px;
}
#innerwrap {
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateY(-90deg) translateX(-320px) translateZ(0px);
	transform: rotateY(-90deg) translateX(-320px) translateZ(0px);
	-webkit-transition: -webkit-transform 1.5s ease;
	transition: transform 1.5s ease;
}

#gamewrap.saveload #innerwrap {
	-webkit-transform: rotateY(0) translateX(0px) translateZ(-320px);
	transform: rotateY(0) translateX(0px) translateZ(-320px);
	-webkit-transition: -webkit-transform 1.5s ease;
	transition: transform 1.5s ease;
}

#saveload {
	position: absolute;
	left: 0;
	background: blue;
	color: white;
	font: 16px DOS437;
	width: 640px;
	height: 450px;

	-webkit-transform: rotateY(0deg) translateZ(320px);
	transform: rotateY(0deg) translateZ(320px);
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}
#saveload_inner {
	margin: 20px;
}

ol#saves {
	list-style: none;
}

ol#saves li {
	
}

ol#saves li img {
	width: 160px;
	height: 100px;
	display: block;
}

ol#saves li img:hover {
	box-shadow: white 0 0 2px 2px white;
	cursor: pointer;
}

#gamebox {
	-webkit-transform: rotateY(90deg) translateZ(320px);
	transform: rotateY(90deg) translateZ(320px);
	-webkit-backface-visibility: visible;
	backface-visibility: visible;

	position: absolute;
	right: 0;
	background: #aaa;
	width: 640px;
	height: 450px;
	overflow: hidden;
	z-index: 0;
}
#background {
	position: absolute;
	z-index: 0;
}
#midground {
	position: absolute;
	z-index: 0;
}
#foreground {
	position: absolute;
	z-index: 0;
	pointer-events: none;
}
#players {
	position: absolute;
	width: 640px;
	height: 400px;
	z-index: 0;
	pointer-events: none;
}

.room0 #players {
	top: 60px;
}
.room1 #players {
	top: 0px;
}
.room0 #background {
	top: 20px;
	width: 400px;
	height: 340px;
	background: url(../img/hill.png) 0 40px no-repeat;
}
.room0 #midground {
	top: 60px;
	width: 200px;
	height: 300px;
}
.room1 #background {
	top: 0px;
	width: 640px;
	height: 400px;
	background: url(../img/scenes/room2.png) 0 0 no-repeat;
}
.room1 #midground {
	top: 0;
	width: 640px;
	height: 400px;
}
.room2 #background {
	top: 0px;
	width: 640px;
	height: 400px;
	background: url(../img/scenes/zak_bedroom_2x.png) 0 0 no-repeat;
}
.room2 #midground {
	top: 0;
	width: 640px;
	height: 256px;
}
.room2 #foreground {
	top: 0;
	width: 1280px;
	height: 256px;
}
.room3 #background {
	top: 0px;
	width: 1280px;
	height: 400px;
	background: url(../img/scenes/zak_livingroom_2x.png) 0 0 no-repeat;
}
.room3 #midground {
	top: 0;
	width: 1280px;
	height: 256px;
}
.room4 #background {
	top: 0px;
	width: 1280px;
	height: 344px;
	xbackground: url(../img/scenes/kscumm_bg.png) 0 0 no-repeat;
}
.room4 #midground, .room4 #foreground {
	top: 0;
	width: 1280px;
	height: 344px;
}

#blackout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 1000;
}}

/* DISABLED INPUT STATE */
.noinput #gamebox {
	pointer-events: none;
}


/* GRID STUFF */
#tablecloth {
	display: block;
	position: absolute;
	top: 60px;
	left: 0;
	border-collapse: collapse;
	border-spacing: 0;
	z-index: 2;
}
#tablecloth td {
	height: 19px;
	width: 19px;
	margin: 0;
	padding: 0;
	border: 1px solid rgba(255,255,0,0.2);
}
#tablecloth td.invalid {
	background: rgba(0,0,0,0.3);
}

tr, td, table {
	pointer-events: none;
}

div.highlight {
	width: 20px;
	height: 20px;
	position: absolute;
	background: rgba(255,255,255,0.5);
	z-index: 0.1;
}

/* DEBUGGING */
body:not(.debug) #tablecloth, body:not(.debug) #keypress {
	display: none;
}

#keypress {
	position: absolute;
	top: 15px;
	right: 0;
	z-index: 500;
}
#mousexy {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 500;
}
#svgwrap,
#pathsvg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	pointer-events: none;
}
#pathsvg path {
	fill: none;
	stroke-width: 1px;
	stroke: lawngreen;
}
#pathsvg circle {
	stroke: none;
	fill: red;
}

.room0 #pathsvg {
	top: 60px;
}

#gamebox canvas {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 50;
}

body.debug .character {border: 1px dotted red;}
body.debug .scenery {border: 1px dotted blue;}
body.debug .item {border: 1px dotted yellow;}
body.debug #midground {border: 1px solid fuchsia;}
body.debug #background {border: 1px solid teal;}
