@font-face {
  font-family: 'DOS437';
  src: url('../fonts/Perfect-DOS-VGA-437.ttf') format('truetype');
}

body {
	margin: 0;
	padding: 0;
	z-index: 0;
}

#gamebox {
	position: relative;
	margin: 30px;
	border: 1px solid black;
	background: #aaa;
	width: 640px;
	height: 490px;
	overflow: hidden;
	z-index: 0;
}
#background {
	position: absolute;
	z-index: 0;
}
#foreground {
	position: absolute;
	z-index: 0;
}
#players {
	position: absolute;
	width: 640px;
	height: 400px;
	z-index: 0;
	pointer-events: none;
}

.room0 #players {
	top: 60px;
}
.room1 #players {
	top: 0px;
}
.room0 #background {
	top: 20px;
	width: 400px;
	height: 340px;
	background: url(../img/hill.png) 0 40px no-repeat;
}
.room0 #foreground {
	top: 60px;
	width: 200px;
	height: 300px;
}
.room1 #background {
	top: 0px;
	width: 640px;
	height: 400px;
	background: url(../img/room2.png) 0 0 no-repeat;
}
.room1 #foreground {
	top: 0;
	width: 640px;
	height: 400px;
}

#blackout {
	position: absolute;
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 1000;
}}


/* GRID STUFF */
#tablecloth {
	display: block;
	position: absolute;
	top: 60px;
	left: 0;
	border-collapse: collapse;
	border-spacing: 0;
	z-index: 2;
}
#tablecloth td {
	height: 19px;
	width: 19px;
	margin: 0;
	padding: 0;
	border: 1px solid rgba(255,255,0,0.2);
}
#tablecloth td.invalid {
	background: rgba(0,0,0,0.3);
}

tr, td, table {
	pointer-events: none;
}

div.highlight {
	width: 20px;
	height: 20px;
	position: absolute;
	background: rgba(255,255,255,0.5);
	z-index: 0.1;
}

/* DEBUGGING */
body:not(.debug) #tablecloth, body:not(.debug) #keypress {
	display: none;
}

#keypress {
	position: absolute;
	top: 15px;
	right: 0;
	z-index: 500;
}
#mousexy {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 500;
}

#pathsvg {
	float:right;
	position: absolute;
	pointer-events: none;
	z-index: 50;
}
.room0 #pathsvg {
	top: 60px;
}
.room1 #pathsvg {
	top: 0;
}

#gamebox canvas {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 50;
}
