/* ITEMS */
.item {
	width: 32px;
	height: 32px;
	position: absolute;
	z-index: 100;
}
body.debug .item {
	border: 1px dotted grey;
}
#bread {
	background: url(../img/props/bread.png);
}
#slicedbread {
	background: url(../img/props/slicedbread.png);
}
#sandwich {
	background: url(../img/props/sandwich.png);
}
#cheese {
	background: url(../img/props/cheese.png);
}
#chest.closed {
	background: url(../img/props/chest.png);
}
#chest.open {
	background: url(../img/props/openchest.png);
}
#knife {
	background: url(../img/props/knife.png);
}
#key {
	background: url(../img/props/key.png);
}
#chicken {
	background: url(../img/props/chicken.png);
}

/* These hover states will later be done with bg-position shift :*/
#inventory #bread:hover {
	background: url(../img/props/bread_outline.png);
}
#inventory #slicedbread:hover {
	background: url(../img/props/slicedbread_outline.png);
}
#inventory #cheese:hover {
	background: url(../img/props/cheese_outline.png);
}
#inventory #sandwich:hover {
	background: url(../img/props/sandwich_outline.png);
}
#inventory #knife:hover {
	background: url(../img/props/knife_outline.png);
}
#inventory #key:hover {
	background: url(../img/props/key_outline.png);
}
#inventory #chicken:hover {
	background: url(../img/props/chicken_outline.png);
}

.room5 #keys {
	left: 498px;
	top: 56px;
	width: 127px;
	height: 42px;
	z-index: 300;	
}
.room5 #bell {
	left: 504px;
	top: 178px;
	background: url(../img/scenes/Hotel-items-2x.png) 0px -10px;
	width: 18px;
	height: 14px;
	z-index: 300;	
}
.room5 #guestbook {
	left: 536px;
	top: 182px;
	background: url(../img/scenes/Hotel-items-2x.png) -32px -14px;
	width: 52px;
	height: 10px;
	z-index: 300;	
}
.room5 #telephone {
	left: 650px;
	top: 168px;
	background: url(../img/scenes/Hotel-items-2x.png) -146px 0px;
	width: 40px;
	height: 22px;
	z-index: 300;	
}
.room5 #plant {
	left: 408px;
	top: 140px;
	background: url(../img/scenes/Hotel-plant-2x.png);
	width: 62px;
	height: 160px;
	z-index: 300;	
}