/* GENERAL */
#midground > div {
	position: absolute;	
}
#background {
	xperspective: 1px;
	xwidth: 100vw;
}
#background, #background div {
	width: 100%;
	height: 100%;
	position: absolute;
}
.room1 .exit,
.room2 .exit,
.room3 .exit,
.room4 .exit {
	border: 1px solid blue;
	width: 24px;
	height: 32px;
	position: absolute;
}
.dead { pointer-events: none; }


/* GENERAL ROOM BACKGROUNDS */
.room4 #background, .room4 #midground, .room4 #foreground {
	top: 0;
	width: 1280px;
	height: 344px;
}
.room5 #background, .room5 #midground, .room5 #foreground {
	top: 0;
	width: 1200px;
	height: 400px;
}
.room6 #background, .room6 #midground, .room6 #foreground {
	top: 0;
	width: 800px;
	height: 400px;
}
.room4 .bg1 { background: url(../img/scenes/kscumm_bg1.png); z-index: 0;   xtransform: translateZ(0); }
.room5 .bg1	{ background: url(../img/scenes/Hotel-lobby-2x.png); z-index: 0; }
.room6 .bg1	{ background: url(../img/scenes/Hotel-kitchen-2x.png); z-index: 0; }


/* BACKGROUND PARALLAX LAYERS */
.room4 .parallax {
	position: absolute;
	width: 1280px;
	height: 344px;
	xtransform-style: preserve-3d;
	xbackground-position: 50% 50%;
	xbackground-repeat: no-repeat;
	xbackground-attachment: fixed;
	xbackground-size: cover;
}
.room4 .bg2 { background: url(../img/scenes/kscumm_bg2.png); z-index: -20; xtransform: translateZ(-10px) scale(11); }
.room4 .bg3 { background: url(../img/scenes/kscumm_bg3.png); z-index: -40; xtransform: translateZ(-20px) scale(21); }


/* MID-GROUND FIXED SCENERY */
.scenery {
	position: absolute;
	z-index: 1;	
}
#cat_clock_tail {
	width: 18px;
	height: 14px;
	background: url(../img/props/cat_clock_tail.gif);
	left: 305px;
	top: 80px;
}
.room5 #desk {
	top: 190px;
	left: 470px;
	background: url(../img/scenes/Hotel-desk-2x.png);
	width: 244px;
	height: 110px;
	z-index: 300;	
}
.room6 #crates {
	width: 220px;
	height: 90px;
	background: url(../img/scenes/Hotel-kitchen-fg-boxes-2x.png);
	bottom: 0px;
	left: 0px;
	z-index: 400;		
}
.room6 #kitchen-table {
	width: 264px;
	height: 68px;
	background: url(../img/scenes/Hotel-kitchen-table-fg-2x.png);
	bottom: 0px;
	left: 230px;
	z-index: 400;		
}


/* FOREGROUND PARALLAX LAYERS */
.room2 #bed {
	width: 262px;
	height: 86px;
	background: url(../img/scenes/zak_bed_fg_2x.png);
	bottom: 0;
	left: 0;
	z-index: 230;
}
.room4 .grass1 {
	width: 264px;
	height: 84px;
	background: url(../img/scenes/kscumm_grass1.png);
	bottom: 0;
	left: 0;
	z-index: 400;
}
.room4 .grass2 {
	width: 456px;
	height: 167px;
	background: url(../img/scenes/kscumm_grass2.png);
	bottom: 0;
	right: 0;
	z-index: 400;
}
.room4 .yellow {
	width: 400px;
	height: 400px;
	background: url(../img/lighting/yellow_light_test.png);
	bottom: 0;
	left: 0;
	z-index: 400;
}
.room5 .hotel_pillars {
	width: 1200px;
	height: 400px;
	background: url(../img/scenes/Hotel-lobby-fg-2x.png);
	bottom: 0;
	left: 0;
	z-index: 400;
}

