/* Custom cursors */
.examine #gamebox { cursor: url('../img/cursor-eye2.png'), zoom-in; }
.talkto #gamebox { cursor: url('../img/cursor-speech2.png'), help; }
.pickup #gamebox { cursor: url('../img/cursor-grab2.png'), grab; }
.use #gamebox { cursor: url('../img/cursor-wrench2.png'), default; }

.announce {
	position: absolute;
	top: 50px;
	left: 45%;
	text-align: center;
	color: white;
	font: 16px DOS437, Helvetica;
	background: rgba(0,0,0,0.7);
	padding: 3px 15px;
	border-radius: 5px;
	z-index: 20;
	display: none;
}

/* INVENTORY */
#inventory {
	background: #666;
	width: 240px;
	height: 90px;
	color: white;
	position: absolute;
	bottom: 0px;
}
#inventory > div {
	position: relative;
	float: left;
	width: 32px;
	height: 32px;
	padding: 4px;
	margin: 2px;
	border: 1px solid #999;
	border-radius: 8px;
}
#inventory div .item {
	top: 4px !important;
	left: 4px !important;
}
#inventory .sortable-placeholder {
	background: #303;
	width: 32px;
	height: 32px;
}
#inventory .tt, .ui-tooltip {
	background: #333;
	border: 1px solid #666;
	border-radius: 3px;
	color: #ccc;
	font: 16px DOS437, Helvetica;
	padding: 3px 5px;
	width: auto !important;
	max-width: 100px !important;

}

#inventory .flash {
  -webkit-animation: flash .5s 0s 1 ease-out;
  -moz-animation: flash .5s 0s 1 ease-out;
  -ms-animation: flash .5s 0s 1 ease-out;
}
@-webkit-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fff; }
    100% { background-color: none; }
}
@-moz-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fff; }
    100% { background-color: none; }
}
@-ms-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fff; }
    100% { background-color: none; }
}

#foreground .drop-hover { xborder: 2px solid orange; }
#foreground .ui-droppable { xborder: 2px solid green; }
#foreground .ui-droppable-disabled { xborder: 2px solid red; }


/* TOOLMENU*/
#toolMenu {
	position: absolute;
	width: 80px;
	height: 96px;
	top: 50px;
	right: 0;
	font: 11px bold Helvetica, Arial, sans-serif;
	color: white;
	z-index: 700;
}
#toolMenu ul.panel {
	background: rgba(80,80,80,.7);
	width: 26px;
	height: 96px;
	border-radius: 5px;
	list-style: none;
	padding: 0;
}
#toolMenu ul.panel li {
	height: 24px;	
}
#toolMenu ul.panel i {
	height: 24px;
	width: 24px;
	margin: 0 1px;
	position: relative;
}
#toolMenu ul.panel i:hover {
	background: #333;
	border-radius: 3px;
}
#toolMenu ul.panel i + b {
	visibility: hidden;
	display: inline-block;
	position: relative;
	left: 28px;
	top: -22px;
	width: 56px;
	text-align: left;
	font-size: 10px;
}
#toolMenu ul.panel i:hover + b {
	visibility: visible;
	display: inline-block;
	position: relative;
	left: 28px;
	top: -22px;
	width: 56px;
	text-align: left;
	font-size: 10px;
}


/* DIALOGUE */
#dialogue {
	background: rgba(0,0,0,0.5);
	color: red;
	font: 16px DOS437, Helvetica;
	font-weight: bold;
	width: 400px;
	padding: 3px 4px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

#displayChoices {
	background: rgba(0,0,0,0.5);
	color: yellow;
	font: 16px DOS437, Helvetica;
	font-weight: bold;
	width: 400px;
	height: auto;
	padding: 3px 4px;
	position: absolute;
	bottom: 90px;
	left: 0;
	z-index: 100;	
}

#displayChoices a {
	display: block;
	text-decoration: none;
	cursor: url('../img/cursor-speech.png'), help; ;
}
#displayChoices a:hover {
	text-decoration: underline;
}

